[Unit]
Description=%p container
Requires=service.system.docker.service
After=service.system.docker.service
Requires=network-online.service
After=network-online.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh /storage/.kodi/addons/docker.moonlight.htpc/bin/docker.moonlight.htpc start
ExecStop=/bin/sh /storage/.kodi/addons/docker.moonlight.htpc/bin/docker.moonlight.htpc stop

[Install]
WantedBy=multi-user.target
