<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <category   label="30000">
      <setting label="30001" type="lsep" />
      <setting label="30002" type="lsep" />
      <!-- <setting label="30004" type="text"   id="E_VERSION"      default="latest" /> -->
      <setting label="30005" type="folder" id="V_config"       default="/storage/.kodi/userdata/addon_data/docker.moonlight.htpc" option="writeable" />
      <!-- <setting label="30006" type="folder" id="V_data_tvshows" default="/storage/tvshows" option="writeable" /> -->
      <!-- <setting label="30007" type="folder" id="V_data_movies"  default="/storage/movies" option="writeable" /> -->
      <!-- <setting label="30009" type="folder" id="V_data_photos"  default="/storage/pictures" option="writeable" /> -->
      <!-- <setting label="30008" type="folder" id="V_transcode"    default="/storage/downloads/plextemp" option="writeable" /> -->
      <setting label="30011" type="folder" id="V_data"    default="/storage" option="writeable" />
      <!-- <setting label="30010" type="text"   id="E_PARAMS"       default="" /> -->
      <setting label="30020" type="lsep" />
      <setting label="30021" type="bool"   id="E_manual_uid"   default="false" />
      <setting label="30022" type="number" id="E_PUID"         default="65534" enable="eq(-1,true)" />
      <setting label="30023" type="number" id="E_PGID"         default="100" enable="eq(-2,true)" />
   </category>
   <category label="32000">
      <!-- <setting label="32005" type="labelenum" id="vpn_provider" visible="eq(-7,)" enable="!eq(-1,true)" lvalues="32201|32202|32203|32204|32205|32206|32207|32208|32209|32210|32211|32212|32213|32214|32215|32216|32217|32218|32219|32220|32221|32222|32223|32224|32225|32226|32227|32228|32229|32230|32231|32232|32233|32234|32235|32236|32237|32238|32239"/> -->
      <setting label="32001" type="bool" id="use_vpn" default="true"/>
      <setting label="32005" type="labelenum" id="vpn_provider" lvalues="32212|32217|32219|32220|32237"/>
      <setting label="32006" type="text" id="vpn_username" default=""/>
      <setting label="32007" type="text" id="vpn_password" option="hidden"  default=""/>
      <setting label="32008" type="action" visible="!eq(-1,)" option="close" action="RunScript(special://home/addons/docker.moonlight.htpc/passwordpopup.py)"/>
      <setting label="32109" type="text" id="vpn_config" default="default"/>
      <setting label="32110" type="bool" id="vpn_firewall" default="false"/>
      <setting label="32111" type="labelenum" id="transmission_ui" lvalues="32201|32202|32203|32204|32205|32206"/>
      <setting label=" "     type="sep"/>
      <setting label="32009" type="lsep"/>
      <setting label="32010" type="labelenum" id="vpn_protocol" lvalues="32011|32012|32013" default="UDP"/>
      <setting label="32014" type="bool" id="default_udp" default="true"/>
      <setting label="32015" type="number" id="alternative_udp_port" visible="!eq(-1,true)" default="1194"/>
      <setting label="32016" type="bool" id="default_tcp" default="true"/>
      <setting label="32017" type="number" id="alternative_tcp_port" visible="!eq(-1,true)" default="443"/>
   </category>
   <category label="33000">
      <!-- <setting label="32005" type="labelenum" id="vpn_provider" visible="eq(-7,)" enable="!eq(-1,true)" lvalues="32201|32202|32203|32204|32205|32206|32207|32208|32209|32210|32211|32212|32213|32214|32215|32216|32217|32218|32219|32220|32221|32222|32223|32224|32225|32226|32227|32228|32229|32230|32231|32232|32233|32234|32235|32236|32237|32238|32239"/> -->
      <setting label="33001" type="bool" id="start_plex" default="false"/>
      <setting label="33002" type="bool" id="start_jellyfin" default="false"/>
      <setting label="33003" type="bool" id="start_sonarr" default="true"/>
      <setting label="33004" type="bool" id="start_radarr" default="true"/>
      <setting label="33005" type="bool" id="start_bazarr" default="true"/>
      <setting label="33006" type="bool" id="start_prowlarr" default="true"/>
      <setting label="33007" type="bool" id="start_overseerr" default="false"/>
      <setting label="33008" type="bool" id="start_ombi" default="true"/>
      <setting label="33009" type="bool" id="start_transmission" default="true"/>
      <setting label="33011" type="bool" id="start_qbit" default="true"/>
      <setting label="33010" type="bool" id="start_muximux" default="false"/>
   </category>
</settings>
